
.register-container {
   margin-top: 30px;
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background: #e6e3e3;
    border-radius: 10px;
    box-shadow: 1px 6px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  
    h2 {
      margin-bottom: 20px;
      color: #ff0707;
    }
  
    form {
      display: flex;
      flex-direction: column;
      gap: 15px;
      //align-items: center;
  
      .input-group {
        display: flex;
        flex-direction: column;
        text-align: left;
        
  
        input {
          padding: 10px;
          border: 1px solid #f80303;
          border-radius: 5px;
          font-size: 16px;
  
          &:focus {
            border-color: #007bff;
            outline: none;
          }
        }
  
        .error {
          color: red;
          font-size: 12px;
          margin-top: 5px;
        }
      }
  
      button {
        padding: 10px;
        background: #ff4934;
        color: white;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
        transition: 0.3s;
  
        &:hover {
          background: #000000;
        }
  
        &:disabled {
          background: gray;
          cursor: not-allowed;
        }
      }
    }
  }
